.*.swp
*.o
*.bin
*.vec
*.bc
**/.DS_Store
**/.ipynb_checkpoints
data
fasttext
result
website/node_modules/
package-lock.json
node_modules/
build/
.vscode/
dist/
python/fasttext_module/fasttext2.egg-info/
python/doc/examples/cooking_model/
python/doc/examples/data/